.about{
        height: 100%;
        margin: 0;
        background-color: #2c2c2c;

}
.container {
          
          width: 1200px;
          margin-left:auto;
          margin-right: auto;
          /*border: 1px solid #FFD700;*/
    background-color: #222;

          
          
}
.hero  {
        background: url("images/ccnewlogofs2.jpg");
        height: 460px;
        /* -moz-box-shadow: 5px 5px 10px 5px rgba(204, 204, 204, 0.5);
        -webkit-box-shadow: 3px 3px 6px 3px rgba(204, 204, 204, 0.5);*/
        /*Transition effects*/
        /*transition: box-shadow ease 0.5s;*/
}

.hero:hover{
    /*-webkit-box-shadow: 6px 6px 10px 5px rgba(204, 204, 204, 0.5);*/
        /*border: 3px solid red;*/
        }
.inner {
        /*border: 2px solid #FFD700;*/
        width: 80%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        /*margin-top: 30px;*/
        margin-bottom: 50px;
        /*-moz-box-shadow: 5px 5px 10px 5px rgba(204, 204, 204, 0.5);
        -webkit-box-shadow: 3px 1px 6px 3px rgba(204, 204, 204, 0.5);
        /*Transition effects*/
        /*transition: box-shadow ease 0.5s;*/
}

.inner:hover{
    /*-webkit-box-shadow: 6px 6px 10px 5px rgba(204, 204, 204, 0.5);
        /*border: 3px solid green;*/
}
.misbox {
  border: 1px solid #FFD700;
  text-align: center;
  display: table;
  column-width: 90%;
  /*margin-left: 5%;*/
  margin-bottom: 10px;
  padding-bottom: 5px;
  -moz-box-shadow: 5px 5px 10px 5px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 3px 3px 6px 3px rgba(204, 204, 204, 0.5);
  /*Transition effects*/
  transition: box-shadow ease 0.5s;
}

.misbox:hover {
    -webkit-box-shadow: 6px 6px 10px 5px rgba(204, 204, 204, 0.5);
}

.visbox {
  border: 1px solid #FFD700;
  width: 90%; 
  text-align: center;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 50px;
  -moz-box-shadow: 5px 5px 10px 5px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 3px 3px 6px 3px rgba(204, 204, 204, 0.5);
  /*Transition effects*/
  transition: box-shadow ease 0.5s;
}

.visbox:hover{
    -webkit-box-shadow: 6px 6px 10px 5px rgba(204, 204, 204, 0.5);
}

.mission {
  border: 3px solid black;
  text-align: center;
  width: 500px;
}

.biobox {
  border: 1px solid #FFD700;
  float: right;
  width: 60%;
  height: 331px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 5%;
  display: table-cell;
  /*margin-bottom: 300px;*/
  -moz-box-shadow: 5px 5px 10px 5px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 3px 3px 6px 3px rgba(204, 204, 204, 0.5);
  /*Transition effects*/
  transition: box-shadow ease 0.5s;
}

.biobox:hover{
    -webkit-box-shadow: 6px 6px 10px 5px rgba(204, 204, 204, 0.5);
 
}

.image {
  float: left;
  content:url(images/member3.jpg);
  width:223px;
  height:331px;
  margin-top:50px;
  margin-bottom: 10px;
  margin-left: 5%;
  border: 1px solid #FFD700;
  /*margin-right: 50px;*/
  -moz-box-shadow: 5px 5px 10px 5px rgba(204, 204, 204, 0.5);
  -webkit-box-shadow: 3px 3px 6px 3px rgba(204, 204, 204, 0.5);
  /*Transition effects*/
  transition: box-shadow ease 0.5s;
}

.image:hover{
    -webkit-box-shadow: 6px 6px 10px 5px rgba(204, 204, 204, 0.5);
}

.biostate {
  padding: 40px 10px;
  text-align: center;
  font-size: 19px;
  display: table-cell;
  vertical-align: middle;
}
.biostate {
  display: inline-block;
}

.misstate { 
  padding: 40px 30px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.misstate {
  /*display: inline-block;*/
}


.visstate {
  padding: 40px 30px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.visstate {
      display: inline-block;
}
