* {
 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.button {
  font-family: 'Merriweather', serif;
  width: 300px;
  height: 75px;
  display: block;
  margin:auto;
  border-radius:2px;
  background-color:#ccac00;
  border-bottom:1px solid #7b8b2f;
  font-size: 20px;
}
body{
  background-image: url("images/cc_backgrounds_3.jpg");
  width:100%;
}
div{
  display: block;
}
h1{
  text-align: center;
  font-size: 60px;
}

p{
  display: block;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #bbb;
}



.outerContainer {
  background-image: url("images/cc_backgrounds_3.jpg");
  background-color: #bbb;
}

.innerContainer {
  margin: auto;
  padding: 5px;
  background-color: #fff;
  width: 60%;
}

.image {
  
  margin-top: 5px;
  padding-top: 5px;
  margin: auto;
  background-image: url("/images/night-city.jpg");
  height: 755px;
  width: 100%;
}

.image-text {
  font-family: 'Merriweather', serif;
  margin: auto;
  text-align: center;
  width: 90%;
  background-color: #fff;
  padding-top: 3px;
}

.image {
  background-image: url(images/night-city.jpg);
}



.form {
  margin: auto;
  width: 100%;
  display: inline-block;
  background-color: #fff;
  
}

.rules {
  border: 3px double black;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
  display: block;
  padding-left: 5px;
  padding-right: 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
  
  
}

.rule-list {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  width: 100%;
  display: block;
  text-align:inherit;
  
    
}

.mem-rules {
  height: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.rules-header {
  font-family: 'Merriweather', serif;
  position: inherit;
  margin: auto;
  width: 80%;
  text-align: center;
  display: block;
  background-color: #fff;
  
}



.mem-h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 2.8125em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top:50px;
  margin-bottom: 50px;
  color: #fff;
}
