* {
 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

}
body{
  background-image: url("images/cc_backgrounds_3.jpg");
  width:100%;
}
div{
  display: block;
}
h1{
  text-align: center;
  font-size: 60px;
}

p{
  display: block;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #bbb;
}



.outerContainer {
  background-image: url("images/cc_backgrounds_3.jpg");
  background-color: #bbb;
  background-attachment: fixed;
  margin-top:none;
}

.innerContainer {
  margin: auto;
  padding: 5px;
  background-color: #fff;
  width: 60%;
}

.image {
  
  margin-top: 5px;
  padding-top: 5px;
  margin: auto;
  background-image: url("/images/night-city.jpg");
  height: 755px;
  width: 100%;
}

.image-text {
  font-family: 'Merriweather', serif;
  margin: auto;
  text-align: center;
  width: 90%;
  background-color: #fff;
  padding-top: 3px;
}

.image {
  background-image: url(images/night-city.jpg);
}



.form {
  margin: auto;
  width: 100%;
  display: inline-block;
  background-color: #fff;
  
}

.rules {
  border: 3px double black;
  margin: auto;
  margin-bottom: 30px;
  width: 80%;
  display: block;
  padding-left: 5px;
  padding-right: 3px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
  
  
}

.rule-list {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  width: 100%;
  display: block;
  text-align:inherit;
  
    
}

.mem-rules {
  height: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.rules-header {
  font-family: 'Merriweather', serif;
  position: inherit;
  margin: auto;
  width: 80%;
  text-align: center;
  display: block;
  background-color: #fff;
  
}



.mem-h1 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 2.8125em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-top:50px;
  margin-top: 0;
  margin-bottom: 50px;
  color: #fff;
}

.buttons{
  height: auto;
  font-family: 'Merriweather', serif;
  margin-top:30px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  padding-top: 10px;
  
}
 ul{
  list-style:none;
  display: inline-block;
  text-align: center;
 }
  a{
    display: inline;
    color: #000;
  }
  li  {
  height: 60px;
  width: 150px;
  text-align: center;
  border: 1px solid #ffeb7f;
  border-color: #ffeb7f;
  border-radius: 5px;
  background-color: #ccac00; 
  margin-left: 10px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  
}


.buttons.tabs {
  width: 100%;
  list-style: none;  
  margin-left: auto;
  overflow: hidden;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 75px;
  
  
  
}



<!--.buttons li{float:left;position:relative;}/* ie needs position:relative here*/-->


.hide {
  display: none;
}
.show {
  display: block;
}

