body    {  
  
           background-image: url("images/cc_backgrounds_3.jpg");
           width:100%;
        }
#container{
          /*border: 3px solid black;*/
          width: 1200px;
          margin-left:auto;
          margin-right: auto;
          border-top: 5px solid gold;
}
#box    { 
           width:223px;
           height:331px;
           box-shadow: inset 1px 1px 40px 0 rgba(160, 160, 160, .45);
           border-bottom:2px solid #aaa;
           border-right:2px solid #aaa;
           margin:5% auto 0 auto; 
           background:url(images/member3.jpg);
           background-size:cover;
           overflow:hidden;
        }

#overlay    {  
               background:rgba(0,0,0,.75);
               width: 223px;
               height:331px;
               text-align:center;
               padding:20px 0 0 0;
               opacity:0;
               -webkit-transition: opacity .25s ease;
               -moz-transition: opacity .25s ease;}

#box:hover #overlay {
               opacity:1;
                    }

#bio       {  
               font-family:Helvetica;
               font-weight:bold;
               color:rgba(255,255,255,.85);
               font-size:14px;
               position: inherit;
               display: block;
               padding-left: 10px;
               padding-right: 10px;
            }
a           {
                text-decoration: none;
            }
header      {
                height: 80px;
                width: 100%;
                
                text-align: right;
                background-color: white;
                
            }
#header     {
                
                
                float: left;
                width: 100px;
                height: auto;
                margin-left: 20px;
                border-radius: 50%;
  
            }
.menu   li     {
              display: inline;
              list-style-type: square;
              text-decoration: none;
              padding-left: 10px;
              margin-top: 25%;
              margin-right: 30px;
              
            }
#indmemb    {
                /*margin-left: 10%;*/
                background-color: whitesmoke;
            }
#boxmem     {
              /*border: 8px solid red;*/
               width:223px;
               height:331px;
               box-shadow: inset 1px 1px 40px 0 rgba(160, 160, 160, .45);
               margin:5% auto 0 10%; 
               background:url(images/member3.jpg);
               background-size:cover;
               overflow:hidden;
               float: left;
            }
#hero       {
              background:url(images/photo2.jpeg);
              height: 460px;
              
            }
hr          {
            float: left;
            width: 500px;
            }
#id         {
              color: black;
              
            }
#inner {
  /*border: 3px solid black;*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color:white; 
}
#descriptionBody {
              display: inline-block;
             
}
.adspace     {
              float: right;
              display:block;
              border: 3px solid red;
              height: 400px;
              width: 300px;
              margin-left: 120px;
              margin-top: 15px;
              text-align: center;
              font-size: 24px; 
              }
#memberdes      {
              
              float: left;
              height: 200px;
              width: 500px;
              
}


    

 

